CLOUDDEMO/services/MemberDetails_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MemberDetails"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="MemberDetailsOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="MemberId" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MemberDetailsOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getMemberDetails" type="tns:getMemberDetailsType"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MemberDetailsOperationFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="MemberDetailsOperationFault"
							type="tns:MemberDetailsOperationFaultType">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="getMemberDetailsType">
				<xsd:sequence>
					<xsd:element name="MemberId" type="xsd:string"></xsd:element>
					<xsd:element name="CustomerName"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="DOB" type="xsd:string"></xsd:element>
					<xsd:element name="Status" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="MemberDetailsOperationFaultType">
				<xsd:sequence>
					<xsd:element name="MemberId" type="xsd:string"></xsd:element>
					<xsd:element name="Error" type="xsd:string"></xsd:element>
					<xsd:element name="Status" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="MemberDetailsOperationRequest">
		<wsdl:part name="parameters" element="tns:MemberDetailsOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MemberDetailsOperationResponse">
		<wsdl:part name="parameters" element="tns:MemberDetailsOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="MemberDetailsOperationFault">
		<wsdl:part name="parameters" element="tns:MemberDetailsOperationFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MemberDetailsPortType">
		<wsdl:operation name="MemberDetailsOperation">
			<wsdl:input message="tns:MemberDetailsOperationRequest"></wsdl:input>
			<wsdl:output message="tns:MemberDetailsOperationResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:MemberDetailsOperationFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MemberDetailsBinding" type="tns:MemberDetailsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="MemberDetailsOperation">
			<soap:operation soapAction="http://www.talend.org/service/MemberDetailsOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MemberDetails">
		<wsdl:port name="MemberDetailsPort" binding="tns:MemberDetailsBinding">
			<soap:address location="http://localhost:8090/services/MemberDetails" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>